$black: #070f1a;
$white: #fafafa;
$smoke: #f8f9fa;
$gray: #686e76;
$gray-light: #999b9e;
$gray-dark: #82858b;

//breakpoints
$tablet-breakpoint: 426px;
$desktop-breakpoint: 768px;
$lg-desktop-breakpoint: 1024px;
$hd-desktop-breakpoint: 1280px;
$xl-desktop-breakpoint: 1400px;
