@import 'src/styles/variables.scss';

.container {
	display: flex;
	position: fixed;
	align-items: center;
	width: 100%;
	padding: 1.5rem;
	gap: 1rem;
	color: $gray;
	backdrop-filter: blur(0.2rem);
	z-index: 10;

	@media (max-width: $hd-desktop-breakpoint) {
		padding: 0.75rem;
	}
}

.link {
	padding: 0.5rem;

	&:hover {
		cursor: pointer;
	}
}
